*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x:hidden ;
}
.topo{
    background-color: #1778b8;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 2% 4%;
}
.topo > h1{
    align-items: center;
    font-size: 350%;
    color: rgb(255, 255, 255);
    font-family: monospace;
    text-shadow: 10px black;
}
input{
    height: 35px;
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    border: solid 2px white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 25x;
    background-image: url(img/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: 95%;
    cursor: pointer;
}
.topo > .lista{
    display: flex;
    align-items: center;
    margin: 0 -4%;
}
.topo>.lista>a{
    text-decoration: none;
    list-style-type: none;
}
.topo>.lista>a>li{
    margin: 0 20px;
    font-size: 100%;
    color: rgb(255, 255, 255);
    height: 110%;
    padding: 10px;
    font-family: monospace;
    border-radius: 50px 50px;
    box-shadow: rgba(62, 28, 184, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border: solid 2px black;
    /* width: 150px;
    text-align: center; */
}
.burguer{
    display: none;
}
.burguer>div{
    width: 26px;
    height: 4px;
    background-color: black;
    margin: 4px;
    cursor: pointer;
}
.cadastro{
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1778b8ec;
    white-space: nowrap;
    text-decoration: none;
    list-style-type: none;
}
.cadastro > :first-child{
    cursor: pointer;
    width: 2%;
    display: flex;
    align-items: center;
    margin-left: -10%;
}
.cadastro > :last-child{
    cursor: pointer;
    width: 2%;
    display: flex;
    align-items: center;
}
.cadastro > div > a {
    text-decoration: none;
    list-style-type: none;
    color: white;
}
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 100%;
    height: 70%;
}  
.banner h1 {
    margin-top: 1%;
    font-size: 40px;
    color: #17a2b8;
    font-size: 30px ;
    font-family: monospace;
}
.livros{
    padding: 5px 30px;
    margin-top: 1%;
    display: flex;
}
.livros > div {
    text-align: center;
    font-size: 90%;
}
.livros > div > h4{
    font-size: 80%;
}
@media (max-width:1189px)
    {
        
        .lista{
            flex-direction: column;
            position: absolute;
            top: 60px;
            right: 0;
            width: 22%;
            align-items: center;
            transform: translateX(100%);
            transition: transform 0.5s ease-in-out;
        }
        .lista> a>li{
            width: 150px;
            text-align: center;
        }
      .burguer{
        display: inline;
      }
    }
    .nav-active{
        transform: translateX(0%);
        transition: 1s;
        /* z-index: 999; */
    }
    .linha1-active{
        transform: rotate(405deg);
        transition: 0.7s;  
        cursor: pointer;
    }
    .linha3-active{
        transform: rotate(45deg);
        transition: 0s;
        opacity: 0%;
        cursor: pointer;
    }
    .linha2-active{
        transform:rotate(-60deg);
        transition: 0.7s;
        transform: translateY(-7.5px) rotate(-405deg);
        cursor: pointer;
    }